In [1]:
import pandas as pd
df = pd.read_csv("./1_boston_housing.csv")

In [2]:
df

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [3]:
df.isnull().sum()

crim       0
zn         0
indus      0
chas       0
nox        0
rm         0
age        0
dis        0
rad        0
tax        0
ptratio    0
b          0
lstat      0
MEDV       0
dtype: int64

In [4]:
from sklearn.model_selection import train_test_split

x = df.loc[:,df.columns!='MEDV']
y = df.loc[:,df.columns=='MEDV']

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=1)

In [5]:
from sklearn.preprocessing import MinMaxScaler
mms = MinMaxScaler()
x_train =mms.fit_transform(x_train)
x_test =mms.transform(x_test)

In [6]:
from keras.models import Sequential
from keras.layers import Dense

model = Sequential()

model.add(Dense(128,input_shape = (13,),activation = 'relu',name='dense_1'))
model.add(Dense(64,activation = 'relu',name = 'dense_2'))
model.add(Dense(1,activation='linear',name='dense_output'))

model.compile(optimizer = 'adam',loss='mse',metrics=['mae'])
model.summary()

WARNING:tensorflow:From f:\BE_Project\myenv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

WARNING:tensorflow:From f:\BE_Project\myenv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From f:\BE_Project\myenv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_1 (Dense)             (None, 128)               1792

 dense_2 (Dense)             (None, 64)                8256

 dense_output (Dense)        (None, 1)                 65

=================================================================
Total params: 10113 (39.50 KB)
Trainable params: 10113 (39.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [7]:
history = model.fit(x_train,y_train,epochs=25,validation_split=0.05,verbose=1)

Epoch 1/25
WARNING:tensorflow:From f:\BE_Project\myenv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From f:\BE_Project\myenv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

11/11 [==============================] - 4s 42ms/step - loss: 564.3559 - mae: 21.9708 - val_loss: 521.8559 - val_mae: 20.8248
Epoch 2/25
11/11 [==============================] - 0s 7ms/step - loss: 516.9420 - mae: 20.7821 - val_loss: 469.3903 - val_mae: 19.3762
Epoch 3/25
11/11 [==============================] - 0s 7ms/step - loss: 451.4597 - mae: 19.0053 - val_loss: 393.2099 - val_mae: 17.0370
Epoch 4/25
11/11 [==============================] - 0s 7ms/step - loss: 355.9987 - mae: 16.2667 - val_loss: 295.0181 - val_mae: 13.2981
Epoch 5/25
11/11 [==============================] - 0s 9ms/step - loss: 248.8442 - mae: 12.7650 - val_loss: 204.3749 - val_mae: 11.0078
Epoch 6/25
11/11 [==============================] - 0s 7ms/step - loss: 163.7494 - mae: 10.0535 - val_loss: 169.4463 - val_mae: 11.1308
Epoch 7/25
11/11 [==============================] - 0s 7ms/step - loss: 132.9236 - mae: 9.0335 - val_loss: 160.6245 - val_mae: 10.7711
Epoch 8/25
11/11 [==============================] - 0s 7ms/step - loss: 119.4191 - mae: 8.5055 - val_loss: 138.8387 - val_mae: 9.8985
Epoch 9/25
11/11 [==============================] - 0s 7ms/step - loss: 103.7940 - mae: 7.7661 - val_loss: 119.2946 - val_mae: 9.0478
Epoch 10/25
11/11 [==============================] - 0s 6ms/step - loss: 91.8199 - mae: 7.1509 - val_loss: 103.2178 - val_mae: 8.3806
Epoch 11/25
11/11 [==============================] - 0s 7ms/step - loss: 81.1258 - mae: 6.6543 - val_loss: 89.0459 - val_mae: 7.7695
Epoch 12/25
11/11 [==============================] - 0s 8ms/step - loss: 72.0960 - mae: 6.2158 - val_loss: 75.7266 - val_mae: 7.1720
Epoch 13/25
11/11 [==============================] - 0s 7ms/step - loss: 64.4650 - mae: 5.7709 - val_loss: 64.2116 - val_mae: 6.5719
Epoch 14/25
11/11 [==============================] - 0s 8ms/step - loss: 58.7150 - mae: 5.4456 - val_loss: 55.2365 - val_mae: 6.0608
Epoch 15/25
11/11 [==============================] - 0s 7ms/step - loss: 54.6527 - mae: 5.2137 - val_loss: 48.1423 - val_mae: 5.6172
Epoch 16/25
11/11 [==============================] - 0s 7ms/step - loss: 51.4149 - mae: 5.0233 - val_loss: 43.6478 - val_mae: 5.3535
Epoch 17/25
11/11 [==============================] - 0s 8ms/step - loss: 49.4324 - mae: 4.8792 - val_loss: 39.4497 - val_mae: 4.9978
Epoch 18/25
11/11 [==============================] - 0s 7ms/step - loss: 47.6439 - mae: 4.7935 - val_loss: 36.9214 - val_mae: 4.8848
Epoch 19/25
11/11 [==============================] - 0s 7ms/step - loss: 46.2053 - mae: 4.7582 - val_loss: 34.6205 - val_mae: 4.7402
Epoch 20/25
11/11 [==============================] - 0s 8ms/step - loss: 44.8210 - mae: 4.6595 - val_loss: 32.5094 - val_mae: 4.4948
Epoch 21/25
11/11 [==============================] - 0s 7ms/step - loss: 43.5561 - mae: 4.5028 - val_loss: 30.7917 - val_mae: 4.3977
Epoch 22/25
11/11 [==============================] - 0s 8ms/step - loss: 42.3059 - mae: 4.4847 - val_loss: 29.8240 - val_mae: 4.3675
Epoch 23/25
11/11 [==============================] - 0s 7ms/step - loss: 41.2458 - mae: 4.4171 - val_loss: 28.8805 - val_mae: 4.2954
Epoch 24/25
11/11 [==============================] - 0s 7ms/step - loss: 39.9340 - mae: 4.3575 - val_loss: 27.4641 - val_mae: 4.1463
Epoch 25/25
11/11 [==============================] - 0s 5ms/step - loss: 38.7136 - mae: 4.2359 - val_loss: 26.3229 - val_mae: 4.0698

In [8]:
mse,mae = model.evaluate(x_test,y_test)
print('MSE : ',mse)
print('MAE : ',mae)

5/5 [==============================] - 0s 3ms/step - loss: 39.1389 - mae: 4.3988
MSE :  39.13886642456055
MAE :  4.3987932205200195

In [9]:
y1 = model.predict(x_test[:])

5/5 [==============================] - 0s 2ms/step

In [10]:
y_test

     MEDV
307  28.2
343  23.9
47   16.6
67   22.0
362  20.8
..    ...
467  19.1
95   28.4
122  20.5
260  33.8
23   14.5

[152 rows x 1 columns]

In [11]:
ps=[]
for i in y1:
    ps.append(list(i)[0])

In [12]:
d = pd.DataFrame({'actual':y_test['MEDV'],'predicted':ps})

In [13]:
d

     actual  predicted
307    28.2  27.527534
343    23.9  29.335102
47     16.6  20.996937
67     22.0  23.349527
362    20.8  19.103348
..      ...        ...
467    19.1  16.142820
95     28.4  23.470306
122    20.5  20.204231
260    33.8  26.847805
23     14.5  19.606289

[152 rows x 2 columns]